@import "../utils/mixin.scss";

.container {
    font-family: 'Oswald', sans-serif;
    // background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../img/pizzaWebSiteBackground.jpg");
    background-image: url("../../img/bg1.jpg");
    // background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../../img/bg1.jpg");
    background-repeat: repeat-y;
    background-size: 100% auto;
    width: 100%;
    display: flex;
    min-height:100vh;
    flex-direction: column;
    align-items: center;
}

.contentContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include respond-to(small) {
        width: 95%;
    }
    @include respond-to(large) {
        width: 85%;
    }
    @include respond-to(extra-large) {
        width: 65%;
    }
}
