@import "../utils/mixin.scss";

.category {
    width: 100%;
    margin-top: 50px;
    @include respond-to(small) {
        margin-top: 100px;
    }
    @include respond-to(large) {
        margin-top: 100px;
    }
    @include respond-to(extra-large) {
        margin-top: 100px;
    }
    &__title{
        color: white;
        font-size: 20px;
        border-bottom: 1px dotted white;
        @include respond-to(small) {
            font-size: 25px;
        }
        @include respond-to(large) {
            font-size: 30px;
        }
        @include respond-to(extra-large) {
            font-size: 30px;
        }
    }
    &__cardContianer{
        margin-top: 30px;
        display: flex;
        flex-wrap: wrap;
        .card{
            width: 140px;
            margin: 10px;
            height: 180px;
            display: flex;
            flex-direction: column;
            @include respond-to(small) {
                width: 220px;
                height: 250px;
            }
            @include respond-to(large) {
                width: 220px;
                height: 250px;
            }
            @include respond-to(extra-large) {
                width: 220px;
                height: 250px;
            }
            img {
                width: 100%;
                transition:all 1s ease;
            }
            img:hover {
                transform: translateY(-10%);
                transition:all .5s ease;
            }
            &__title{
                color: white;
                font-size: 15px;
                margin-top: 10px;
            }
            &__body{
                color: white;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin-top: 10px;
                font-size: 15px;
            }
            button {
                margin-top: 10px;
                height: 30px;
                border: none;
                text-align: center;
                background-color: #e41837;
                border-radius: 5px;
                text-decoration: none;
                color: white;
                font-size: 15px;
            }
            button:hover {
                filter: brightness(60%);
            }
        }
    }
}

.loadingSpinner {
    position: fixed;
    left: 50%;
    right: 50%;
    margin-top: 50px;
}