@import "../utils/mixin.scss";


.menuNavbar {
    width: 100%;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include respond-to(small) {
        height: 35px;
        margin-top: 35px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    @include respond-to(large) {
        height: 35px;
        margin-top: 35px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    @include respond-to(extra-large) {
        height: 35px;
        margin-top: 35px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    &__logo{
        img{
            width: 100px;
        }
    }

    &__link {
        width: 100%;
        height: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        @include respond-to(small) {
            height: 100%;
        }
        @include respond-to(large) {
            height: 100%;
        }
        @include respond-to(extra-large) {
            height: 100%;
        }
        ul {
            height: 100%;
            display: flex;
            flex-direction: row;
            margin: 0;
            padding: 0;
            overflow: hidden;
            border-radius: 25px;
            li {
                @include box-shadow();
                width: 20%;
                height: 100%;
                background-color: #42362e;
                display: flex;
                flex-direction: column;
                justify-content: center;
                .item {
                    text-decoration: none;
                    color:#ffffff;
                    text-align: center;
                    font-size: 7px;
                    display: flex;
                    justify-content: center;
                    @include respond-to(small) {
                        font-size: 16px;
                    }
                    @include respond-to(large) {
                        font-size: 16px;
                    }
                    @include respond-to(extra-large) {
                        font-size: 16px;
                    }
                    &__login {
                        display: flex;
                        align-items: center;
                    }
                }
                .navLinkActive {
                    background-color:#046494;
                    height: 100%;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }
            }
            li:hover {
                background-color: #2e96d5;
            }
            .loginItem {
                background-color: #0db14b;
            }
        }
    }
}

.menuSlider {
    height: 80px;
    width: 80%;
    margin-top: 15px;
    border-radius: 25px;
    @include respond-to(small) {
        margin-top: 50px;
        height: 120px;
    }
    @include respond-to(large) {
        margin-top: 50px;
        height: 120px;
    }
    @include respond-to(extra-large) {
        margin-top: 80px;
        height: 120px;
    }
    &__item {
        height: 80px;
        width: 100%;
        border-radius: 25px;
        @include respond-to(small) {
            height: 120px;
        }
        @include respond-to(large) {
            height: 120px;
        }
        img{
            height: 100%;
            width: 100%;
            border-radius: 25px;
        }
    }
    .slick-dots li button::before {
        color: #fff;
        opacity: 0.7;
      }
      .slick-dots li.slick-active button::before {
        color: #fff;
        opacity: 1;
      }
}
