@import "../utils/mixin.scss";

.product {
    width: 100%;
    margin-top: 30px;
    @include respond-to(small) {
        margin-top: 100px;
    }
    @include respond-to(large) {
        margin-top: 100px;
    }
    @include respond-to(extra-large) {
        margin-top: 100px;
    }
    &__title {
        width: 100%;
        // color: white;
        color: black;
        font-size: 25px;
        // border-bottom: 1px dotted white;
        border-bottom: 1px dotted black;
        display: flex;
        justify-content: center;
        @include respond-to(small) {
            font-size: 25px;
            justify-content: flex-start;
        }
        @include respond-to(large) {
            font-size: 30px;
            justify-content: flex-start;
        }
        @include respond-to(extra-large) {
            font-size: 30px;
            justify-content: flex-start;
        }
    }
    &__contentContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-top: 50px;
        @include respond-to(small) {
            flex-direction: row;
            align-items: flex-start;
        }
        @include respond-to(large) {
            flex-direction: row;
            align-items: flex-start;
        }
        @include respond-to(extra-large) {
            flex-direction: row;
            align-items: flex-start;
        }
    }
    &__productImageWrapper {
        width: 100%;
        display: flex;
        justify-content: center;
        @include respond-to(small) {
            width: 50%;
        }
        @include respond-to(large) {
            width: 50%;
        }
        @include respond-to(extra-large) {
            width: 50%;
        }
        img {
            width: 80%;
        }
    }
    &__content {
        width: 80%;
        display: flex;
        flex-direction: column;
        @include respond-to(small) {
            width: 50%;
        }
        @include respond-to(large) {
            width: 50%;
        }
        @include respond-to(extra-large) {
            width: 50%;
        }
    }
    &__info {
        // color: white;
        color: black;
        font-size: 20px;
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        // background-color: lightblue;
        @include respond-to(small) {
            margin-top: 0px;
        }
        @include respond-to(large) {
            margin-top: 0px;
        }
        @include respond-to(extra-large) {
            margin-top: 0px;
        }
    }
    &__description {
        margin-top: 20px;
        font-size: 15px;
    }
    &__action {
        // color: white;
        color: black;
        label {
            font-size: 20px;
        }
        input {
            margin-left: 10px;
            margin-top: 20px;
            height: 30px;
            width: 100px;
            border: none;
            border-radius: 2px;
        }
        button {
            margin-top: 20px;
            height: 40px;
            border: none;
            text-align: center;
            // background-color: #e41837;
            background-color: #70a401;
            border-radius: 5px;
            text-decoration: none;
            color: white;
            font-size: 15px;
            width: 100%; 
            border-radius: 12px   
        }
        button:hover {
            filter: brightness(85%);
        }
    }
    .errorMessage {
        margin-top: 10px;
        color: red;
    }

}

